.dolarContainer{

    padding-block: 8px;
    border-block: 1px solid #E49F37;
    background-color: #2C2E32;
    overflow: hidden;
    user-select: none;
    --gap: 20px;
    display: flex;
    gap: var(--gap);
    position: relative;
    top: 0px;
    z-index: -1;

    .dolarList{
      
    
        list-style: none;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: linear;
        animation-duration: 37.1461s;
        animation-name: scroll;

        ul{
          display: flex;
          flex-direction: row;
          .dolarSpan{
            font-size: 14px;
          }
        }
        ul:first-child{
            display: flex;
            flex-direction: row-reverse;
          }
       
     
    }   
    
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-900.84px);
    }
}

@media (min-width: 1024px) and (max-width: 1195px) {
    .dolarContainer{
        top: 0px;  
    }
}

@media (min-width: 1195px) {
    .dolarContainer{
        top: 0px;  
    }
}