.cards{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding: 50px 0px 50px 0px;
   
    .card {
        
       
        background-image: linear-gradient(to right bottom, #eec14c, #ecb745, #e9ae3f);    
        background-size: 300% 100%;

        border-radius: 50px;




         border-radius: 5px;
        width: 320px;
        height: 460px;
        padding: 0px 20px 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
       
        cursor: pointer;
      
        &:hover {
           
            background-position: 100% 0;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            .arrow{
                transform: rotate(45deg);
            }
            
        }


   
       
        & header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            & span{
                font-family: var(--fuente-terciaria);
                color: var(--color-black);
            }
            .arrow{
                width: 60px;
                color: var(--color-black);
                transition: 0.4s ease-in-out;
            }
        }

        & h2{
            font-family: var(--fuente-principal);
            font-size: 30px;
            line-height: 30px;
            font-weight: 500;
            color: var(--color-black);
        }

        & ul {
            
            li{
                color: var(--color-black);
                font-weight: 500;
                
            }   
        } 

      

        & button{
            background-color: transparent;
            color: var(--color-black);
            border: 1px solid var(--color-black);
            width: 100%;
        }
  
    }

}

.cards > a:nth-of-type(1) > .card ul {
    line-height: 29px;
}

.cards > a:nth-of-type(2) > .card ul {
    line-height: 25px;
}

.cards > a:nth-of-type(3) > .card ul {
    line-height: 20px;
    gap: 5px;
}

.cards > a:nth-of-type(3) > .card {
    height: 480px;
}

.cards > a:nth-of-type(3) > .card {

    header{
        position: relative;
        top: 10px;
    }
    button{
        position: relative;
        top: -15px;    
    }
    
}

.cards > a:nth-of-type(5) > .card ul {
    line-height: 20px;
    
}

.cards > a:nth-of-type(4) > .card {
    gap: 25px
     
}



.cards > a:nth-of-type(5) > .card {
   gap: 19px
    
}

.cards > a:nth-of-type(5) > .card {
    height: 515px;
     
 }

.cards > a:nth-of-type(6) > .card {
    gap: 20px
     
 }

 .cards > a:nth-of-type(7) > .card {
    gap: 44px
     
 }

.cards > a:nth-of-type(8) > .card {
    
    gap: 18px;
     
}



@media (min-width: 800px){
    .cards{
        grid-gap: 40px;
        padding-top: 60px;
        .card{
            width: 350px;
        }
    }

    .cards > a:nth-of-type(3) > .card {
        height: 460px;
    }

    .cards > a:nth-of-type(4) > .card {
        gap: 40px
         
    }

    .cards > a:nth-of-type(5) > .card {
        height: 460px;
         
    }

    .cards > a:nth-of-type(6) > .card {
        gap: 38px
         
     }

     .cards > a:nth-of-type(8) > .card {
    
        gap: 41px;
         
    }
}